{
  "env": {
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-console": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "no-else-return": "off",
    "no-use-before-define": "off",
    "import/named": "off",
    "import/extensions": "off",
    "no-mixed-operators": "off",
    "array-callback-return": "off",
    "quotes": "off",
    "no-return-assign": "off",
    "dot-notation": "off",
    "no-dupe-keys": "off",
    "prefer-destructuring": "off",
    "no-param-reassign": "off",
    "no-case-declarations": "off",
    "object-shorthand": "off",
    "arrow-body-style": "off",
    "default-case": "off"
  }
}